#resume{
	background-color: #009999;
	text-align: center;
	padding: 80px;
	margin: 0;
}
*{
	/*background: #ffffe6;*/

}
nav {
	background-color: #2e2e1f;
	overflow: hidden;
}
nav a {
	color: white;
	background-color: #2e2e1f;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}
nav a.text_right{
	float: right;
}
nav a.text_left{
	float: left;
}
nav a:hover{
	background-color: white;
	color: black;
}
/*#text_container{
	display: flex;
}*/

footer {
	background-color: #2e2e1f;
	padding: 10px 20px;
	color: white;
	text-align: center;
}
#email{
	color: white;
}

/*copy for table*/

table{
	width: 50%;
}
table, th, td {
  	border: 1px solid white;
  	border-collapse: collapse;
  	/*width: 50%;*/
}
th, td {
  	background-color: #96D4D4;
}
@media(min-width:  800px)
{
	#text_container{
		display: flex;
	}
}
#left_side{
	flex: 30%;
	background-color: #ffffe6;
	padding: 10px 20px;
}
#right_side{
	flex: 70%;
	padding: 10px 20px;
}
/* @media(max-width: 800px)
{
	*{
		background-color: yellow;
	}
}
@media(max-width: 400px)
{
	*{
		background-color: green;
	}
} */
